<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="skin/images/logo.png" /> TEZBOX</span>
        </div>
    </div>
    
    <div class="med-container">
      <h2 class="med-title">Restore your TezBox</h2>
    <div class="row text-center tabChoices">
      <div class="col-xs-4">
        <a  ng-click="type = 'ico'" ng-class="type == 'ico' ? 'selected' : ''">Fundraiser Wallet</a>
      </div>
      <div class="col-xs-4">
        <a ng-click="type = 'seed'" ng-class="type == 'seed' ? 'selected' : ''">Seed Phrase</a>
      </div>
      <div class="col-xs-4">
        <a  ng-click="type = 'private'" ng-class="type == 'private' ? 'selected' : ''">Private Key</a>
      </div>
    </div>
    <div ng-show="type == 'ico'" class="row text-center">
      <div class="col-xs-12">
            <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>If you have a Fundraiser/ICO wallet, you must use this option everytime to restore your wallet. Please enter your seed words, email address, password and address/public key hash from the Fundraiser PDF. If your account has not been activated, please enter the activation code below as well.</strong></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <label>15 Word Secret Key (leave a space between each word) <span style="color:red;">*</span></label>
                <textarea rows=2 class="text-center form-control" placeholder="" ng-model="seed"></textarea>
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="form-group">
                <label>Email <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="From the Fundraiser PDF, must be entered in exactly" tooltip></i></label>
                <input type="text" class="text-center form-control" ng-model="email" >
            </div>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <label>Password <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="This is the password you entered when you contributed to the ICO/Fundraiser. This may not be the same password as the account you created to complete KYC, and is not recorded on the Fundraiser PDF." tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="ico_password">
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="form-group">
                <label>Public Key Hash  <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="From the Fundraiser PDF, must be entered in exactly" tooltip></i></label>
                <input type="text" class="text-center form-control" ng-model="address" placeholder="tz1...">
            </div>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <label>Activation Code <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Only enter if you haven't already activated your account" tooltip></i></label>
                <input type="text" class="text-center form-control" ng-model="activation_code">
            </div>
        </div>
    </div>
    <div ng-show="type == 'seed'" class="row text-center">
      <div class="col-xs-12">
            <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Please enter your seed and passphrase below and we will attempt to restore your wallet. If you are trying to restore your Fundraiser/ICO wallet please select the 'Fundraiser Wallet' tab instead (even if you have restored it previously)</strong></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <label>Seed Words/Mnenomic (leave a space between each word) <span style="color:red;">*</span></label>
                <textarea rows=2 class="text-center form-control" ng-model="seed"></textarea>
            </div>
            <div class="form-group">
                <label>Optional Passphrase <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="This is the optional passphrase used when creating your private key, which can sometimes be left blank. This is not the same as the encryption key used to encrypt your private data" tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="passphrase">
            </div>
        </div>
    </div>
    <div ng-show="type == 'private'" class="row text-center">
      <div class="col-xs-12">
            <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Please enter your private key and we will attempt to restore your wallet. This option is for those users who have exported a private key from the Tezos client (or have generated one elsewhere). Currently we only accept the "edsk..." and the "edesk..." variants. You will need to enter your encryption password if you are trying to import an encrypted private key ("edesk..")</strong></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <label>Private Key <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Your private key can be exported from the Tezos Client or other wallets, and will start with edesk or edsk" tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="private_key" placeholder="edsk/edesk...">
            </div>
            
            <div class="form-group" ng-show="isEdesk()">
                <label>Encryption Password <span style="color:red;">*</span> <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="This is the password used in the Tezos Client to encrypt your private key" tooltip></i></label>
                <input type="password" class="text-center form-control" ng-model="encryption_password" placeholder="">
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4">
            <a ng-click="restore()" class="btn btn-success btn-block">Restore TezBox</a>
            <br />
            <a ng-click="cancel()" class="btn-link">Cancel</a>
        </div>
    </div>
    </div>
</div>